# Archivos y carpetas a ignorar en builds Docker
.git
.github
.gitignore
.gitattributes
.editorconfig
.env
.env.*
!.env.example
node_modules
npm-debug.log
vendor
composer.lock
storage/logs/*
!storage/logs/.gitignore
storage/framework/cache/*
!storage/framework/cache/.gitignore
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/views/*
!storage/framework/views/.gitignore
bootstrap/cache/*
!bootstrap/cache/.gitignore
.phpunit.result.cache
tests
docs
README.pdf
desktop.ini
*.sqlite
